<!--Stylesheet-->
<style>
body { 
    background-image: url('../public/bootstrap/images/pexels-photo-polaroids.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}
</style>

    <!-- Top content-->
    <div class="top-content">
      <div class="inner-bg">
        <div class="container">
          <div class="row">
            <div class="col-sm-6 col-sm-offset-3 form-box">
              <div class="form-top">
                <div class="form-top-left">
                  <h3> Login </h3>
                  <p><a href="/#register">Need an account?</a></p>
                </div>
                <div class="form-top-right"><i class="fa fa-lock"></i></div>
              </div>
              <div class="form-bottom">
                <form name="login-form" role="form" ng-submit="logCon.login()">
                  <div class="form-group">
                    <label for="form-username" class="sr-only">Username</label>
                    <input id="form-username" type="text" name="form-username" ng-model="logCon.username" placeholder="Username" class="form-username form-control">
                  </div>
                  <div class="form-group">
                    <label for="form-password" class="sr-only">Password</label>
                    <input id="form-password" type="password" name="form-password" ng-model="logCon.password" placeholder="Password" class="form-password form-control">
                  </div>
                  <button type="submit" class="btn"> Login! </button>
                  <p><a href="/#">Forgot your password?</a></p>
                </form>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 col-sm-offset-3 social-login">
              <h3 align='center'>...or login with:</h3>
              <div class="social-login-buttons" align='center'><a href="#" class="btn btn-link-2"><i class="fa fa-twitter"></i> Twitter</a><a href="#" class="btn btn-link-2"><i class="fa fa-google"></i> Google </a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
