extends layout.jade

block content
  #contact.container
    h3.text-center Contact
    p.text-center
     // em //placeholder
    .row
      .col-md-4
        p //placeholder
        p
          span.glyphicon.glyphicon-map-marker
          | //pholder
        p
          span.glyphicon.glyphicon-phone
          | Phone: +00 1515151515
        p
          span.glyphicon.glyphicon-envelope
          | Email: mail@mail.com
      .col-md-8
        .row
          .col-sm-6.form-group
            input#name.form-control(name='name', placeholder='Name', type='text', required='')
          .col-sm-6.form-group
            input#email.form-control(name='email', placeholder='Email', type='email', required='')
        textarea#comments.form-control(name='comments', placeholder='Comment', rows='5')
        br
        .row
          .col-md-12.form-group
            button.btn.pull-right(type='submit') Send