<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Theme Made By www.w3schools.com - No Copyright-->
    <title>Bootstrap Theme The Band</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="public/stylesheets/style.css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
    <link rel='stylesheet' href='public/bootstrap/css/form-elements.css'>
  </head>
  
  <body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="50">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" data-toggle="collapse" data-target="#myNavbar" class="navbar-toggle"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="/" class="navbar-brand">Arts In Town</a>
        </div>
        <div id="myNavbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/">HOME</a></li>
            <li><a href="/eventList/">FIND EVENTS</a></li>
            <li><a href="/post">POST EVENT</a></li>
            <li><a href="/contact/">CONTACT</a></li>
            <li class="dropdown"><a data-toggle="dropdown" href="#" class="dropdown-toggle">MORE<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/login">SIGN IN</a></li>
                <li><a href="/register">REGISTER</a></li>
                <li><a href="#">FAQ</a></li>
              </ul>
            </li>
            <li></li>
          </ul>
        </div>
      </div>
    </nav>
    
    <!-- Set your background image for this header on the line below.-->
    <!--header.intro-header(style="background-image: url('../bootstrap/images/pexels-photo-bass-player.jpeg')")-->
    <header style="background-image: url('https://static.pexels.com/photos/2318/vintage-technology-keyboard-old-large.jpg')" class="intro-header">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10">
            <div class="post-heading">
              <h1>LOCAL POETS READING</h1>
              <div class="col-md-4 col-lg-4">
                <h2 class="subheading">FRI MARCH 31</h2>
              </div>
              <div class="col-md-4 col-lg-4">
                <h2 class="subheading">9:00pm</h2>
              </div>
              <div class="col-md-4 col-lg-4">
                <h2 class="subheading">Free</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    
    <nav class="col-sm-9"></nav>
    <div id="affix-container">
      <nav class="col-sm-3"><a data-spy="affix" data-offset-top="480" class="btn btn-default">Buy Tickets</a></nav>
    </div>
    
  <!-- Container for Event Details-->
  <div id="band" class="container">
    <div class="row">
      <div class="col-sm-8 col-md-8 col-lg-9">
        <h3>Description</h3>
        <p>We have created a fictional band website. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <p>We have created a fictional band website. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
      <div class="col-sm-1 col-md-1 col-lg-1"></div>
      <div class="col-sm-3 col-md-3 col-lg-2"><a id="favoriteButton" style="font-size:20px" onclick="javascript:updateBookmarks()" class="btn"><img id="bookmark" src="../bootstrap/images/unbooked.png">&nbspSave This Event&nbsp</a><br><br>
        <h3>Address</h3>
        <p>Cute Cafe</p>
        <p>125 High Street</p>
        <p>Oakland, CA 94608</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-6 col-lg-8">
        <div class="panel panel-primary review-panel">
          <div class="panel-heading"><a href="/eventdetail/comments" class="btn btn-default pull-right">LEAVE A COMMENT</a>
            <h2 class="panel-title">COMMENTS</h2>
          </div>
          <div class="panel-body comment-container">
            <div class="row">
              <div class="review">
                <div class="well well-sm review-header"><span class="rating"><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span></span><span class="commentAuthor">Simon Holmes</span><small class="commentTimestamp">16 July 2013</small></div>
                <div class="col-xs-12">
                  <p>What a great place. I can't say enough good things about it.</p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="review">
                <div class="well well-sm review-header"><span class="rating"><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon-star-empty"></span></span><span class="commentAuthor">Charlie Chaplin</span><small class="commentTimestamp">16 June 2013</small></div>
                <div class="col-xs-12">
                  <p>It was okay. Coffee wasn't great, but the wifi was fast.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-4">
        <div id="googleMap"></div>
        <script>
          function updateBookmarks(){
          var img = document.getElementById('bookmark').src;
          if (img.indexOf('unbooked.png')!=-1) {
          document.getElementById('bookmark').src  = '../bootstrap/images/booked.png';
          }
          else {
          document.getElementById('bookmark').src = '../bootstrap/images/unbooked.png';
          }
          }
        </script>
        <script>
          function myMap() {
          var myCenter = new google.maps.LatLng(37.7971799,-122.2760126);
          var mapProp = {center:myCenter, zoom:13, scrollwheel:false, draggable:true, mapTypeId:google.maps.MapTypeId.ROADMAP};
          var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);
          var marker = new google.maps.Marker({position:myCenter});
          marker.setMap(map);
          }
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAjb9lV1fxJldBB2qhfi_KAZMHt5nDZzvM&amp;callback=myMap"></script><a href="https://twitter.com/share" data-show-count="false" class="twitter-share-button">Tweet</a>
        <script async="" src="//platform.twitter.com/widgets.js" charset="utf-8"></script><a href="https://twitter.com/sunhazemusic" class="twitter-timeline">Tweets by sunhazemusic</a>
        <script async="" src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
    </div>
  </div>
  </body>
</html>