<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Theme Made By www.w3schools.com - No Copyright-->
    <title>Find Events</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../stylesheets/style.css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
    <!--<link rel='stylesheet' href='../bootstrap/css/form-elements.css'>-->
  </head>
  
  <body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="50">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" data-toggle="collapse" data-target="#myNavbar" class="navbar-toggle"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="/" class="navbar-brand">Arts In Town</a>
        </div>
        <div id="myNavbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/">HOME</a></li>
            <li><a href="/eventList/">FIND EVENTS</a></li>
            <li><a href="/post/">POST EVENT</a></li>
            <li><a href="/contact/">CONTACT</a></li>
            <li class="dropdown"><a data-toggle="dropdown" href="#" class="dropdown-toggle">MORE<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">SIGN IN</a></li>
                <li><a href="#">REGISTER</a></li>
                <li><a href="#">FAQ</a></li>
              </ul>
            </li>
            <li></li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Container (The Search Section)-->
    <div id="findevents" class="container text-center">
      <h3>SEARCH BAR</h3>
      <!-- Actual search bar-->
      <div class="col-sm-6 col-sm-offset-3">
        <div class="input-group stylish-input-group">
          <input type="text" placeholder="Search" class="form-control"><span class="input-group-addon">
            <button type="submit"><span class="glyphicon glyphicon-search"></span></button></span>
        </div>
      </div>
    </div>
  </body>
  <!-- Container (Event Section)-->
</html>
<div class="bg-1">
  <div class="container">
    <div class="row text-center">
      <h3 class="text-center">BROWSE LOCAL ART AND MUSIC EVENTS NEAR YOU</h3>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="thumbnail"><img src="https://static.pexels.com/photos/2318/vintage-technology-keyboard-old-large.jpg" alt="Paris" width="400" height="300">
          <p></p>
          <p>Friday 27 November 2017</p>
          <h6>LOCAL POETS READING</h6>
          <p> <span class="glyphicon glyphicon-map-marker"></span>  Cute Cafe</p>
          <p>125 High Street, Oakland, CA 94608</p>
          <div class="row text-center">
            <!--button.btn(href='/eventDetail/') Learn More--><a href="/eventDetail" role="button" class="btn btn-info">Learn More</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail"><img src="https://static.pexels.com/photos/12764/pexels-photo-12764-large.jpeg" alt="New York" width="400" height="300">
          <p></p>
          <p>Friday 27 November 2017</p>
          <h6>DJ BLUNTZ + ARTISTS</h6>
          <p> <span class="glyphicon glyphicon-map-marker"></span>  Cute Cafe</p>
          <p>125 High Street, Oakland, CA 94608</p>
          <div class="row text-center">
            <button data-toggle="modal" data-target="#myModal" class="btn">Learn More</button>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail"><img src="https://static.pexels.com/photos/9295/vintage-music-business-shop-large.jpg" alt="San Francisco" width="400" height="300">
          <p></p>
          <p>Friday 27 November 2017</p>
          <h6>ODD BALL GALLERY EXPO</h6>
          <p> <span class="glyphicon glyphicon-map-marker"></span>  Cute Cafe</p>
          <p>125 High Street, Oakland, CA 94608</p>
          <div class="row text-center">
            <button data-toggle="modal" data-target="#myModal" class="btn">Learn More</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="thumbnail"><img src="https://static.pexels.com/photos/1221/man-person-sitting-playing-large.jpg" alt="Paris" width="400" height="300">
          <p></p>
          <p>Friday 27 November 2017</p>
          <h6>BEER AND GUITARS</h6>
          <p> <span class="glyphicon glyphicon-map-marker"></span>  Cute Cafe</p>
          <p>125 High Street, Oakland, CA 94608</p>
          <div class="row text-center">
            <button data-toggle="modal" data-target="#myModal" class="btn">Learn More</button>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail"><img src="https://static.pexels.com/photos/12764/pexels-photo-12764-large.jpeg" alt="New York" width="400" height="300">
          <p></p>
          <p>Friday 27 November 2017</p>
          <h6>DJ BLUNTZ + ARTISTS</h6>
          <p> <span class="glyphicon glyphicon-map-marker"></span>  Cute Cafe</p>
          <p>125 High Street, Oakland, CA 94608</p>
          <div class="row text-center">
            <button data-toggle="modal" data-target="#myModal" class="btn">Learn More</button>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail"><img src="https://static.pexels.com/photos/9295/vintage-music-business-shop-large.jpg" alt="San Francisco" width="400" height="300">
          <p></p>
          <p>Friday 27 November 2017</p>
          <h6>ODD BALL GALLERY EXPO</h6>
          <p> <span class="glyphicon glyphicon-map-marker"></span>  Cute Cafe</p>
          <p>125 High Street, Oakland, CA 94608</p>
          <div class="row text-center">
            <button data-toggle="modal" data-target="#myModal" class="btn">Learn More</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Add Google Maps-->
    <div id="map"></div>
    <script>
      function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 11,
          center: {lat: 37.819521, lng: -122.307738}
        });
        // Create an array of alphabetical characters used to label the markers.
        var labels = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';
        // Add some markers to the map.
        // Note: The code uses the JavaScript Array.prototype.map() method to
        // create an array of markers based on a given "locations" array.
        // The map() method here has nothing to do with the Google Maps API.
        var markers = locations.map(function(location, i) {
          return new google.maps.Marker({
            position: location,
            label: labels[i % labels.length]
          });
        });
        // Add a marker clusterer to manage the markers.
        var markerCluster = new MarkerClusterer(map, markers,
            {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
      }
      var locations = [
      	{lat: 37.811643, lng: -122.265589},
        {lat: 37.797375, lng: -122.276013},
        {lat: 37.867458, lng: -122.300107},
        {lat: 37.853254, lng: -122.265860},
        {lat: 37.806900, lng: -122.270760},
        {lat: 37.808301, lng: -122.270332},
        {lat: 37.808104, lng: -122.272819},
        {lat: 37.765282, lng: -122.396429}
      ]
    </script>
    <!--deleted-->
    <!--script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAjb9lV1fxJldBB2qhfi_KAZMHt5nDZzvM&callback=myMap')-->
    <!--updated-->
    <script async="" defer="" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAjb9lV1fxJldBB2qhfi_KAZMHt5nDZzvM&amp;callback=initMap"></script>
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
  </div>
  
  <footer class="text-center"><a href="#myPage" data-toggle="tooltip" title="TO TOP" class="up-arrow"><span class="glyphicon glyphicon-chevron-up"></span></a><br>
    <p><small>&copy; Arts in Town 2017</small></p>
  </footer>
</div>

  <!-- Javascript-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
  