extends layout

block content
  #myCarousel.carousel.slide(data-ride='carousel')
    // Indicators
    ol.carousel-indicators
      li.active(data-target='#myCarousel', data-slide-to='0')
      li(data-target='#myCarousel', data-slide-to='1')
      li(data-target='#myCarousel', data-slide-to='2')
      li(data-target='#myCarousel', data-slide-to='3')
    
    // Wrapper for slides
    .carousel-inner(role='listbox')
      .item.active
        img(src='../bootstrap/images/pexels-photo-concert-crowd.jpg', alt='concert crowd', width='1200')
        .carousel-caption
          h3 Find Live Music
      .item
        img(src='../bootstrap/images/pexels-photo-bass-player.jpeg', alt='Bass player', width='1200')
        .carousel-caption
          h3 Sell your Tickets
      .item
        img(src='../bootstrap/images/pexels-photo-people-feathers.jpeg', alt='People with feathers', width='1200')
        .carousel-caption
          h3 Publicize your Events
      .item
        img(src='../bootstrap/images/pexels-photo-violinists.jpeg', alt='Violinists', width='1200')
        .carousel-caption
          h3 Buy Tickets to Shows
          
    // Left and right controls
    
    a.left.carousel-control(href='#myCarousel', role='button', data-slide='prev')
      span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
      span.sr-only Previous
    a.right.carousel-control(href='#myCarousel', role='button', data-slide='next')
      span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
      span.sr-only Next

         
  // Container (The Search Section)
  #findevents.container.text-center
    h3 SEARCH FOR LOCAL EVENTS

    //actual search bar
    .col-sm-6.col-sm-offset-3
        .input-group.stylish-input-group
          input.form-control(type='text', placeholder='Search')
          span.input-group-addon
            button(type='submit')
              span.glyphicon.glyphicon-search
                  
            // //   // Modal
            // //   #myModal.modal.fade(role='dialog')
            // //     .modal-dialog
            // //       // Modal content
            // //       .modal-content
            // //         .modal-header
            // //           button.close(type='button', data-dismiss='modal') ×
            // //           h4
            // //             span.glyphicon.glyphicon-lock
            // //             |  Tickets
            // //         .modal-body
            // //           form(role='form')
            // //             .form-group
            // //               label(for='psw')
            // //                 span.glyphicon.glyphicon-shopping-cart
            // //                 |  Tickets, $23 per person
            // //               input#psw.form-control(type='number', placeholder='How many?')
            // //             .form-group
            // //               label(for='usrname')
            // //                 span.glyphicon.glyphicon-user
            // //                 |  Send To
            // //               input#usrname.form-control(type='text', placeholder='Enter email')
            // //             button.btn.btn-block(type='submit')
            // //               | Pay 
            // //               span.glyphicon.glyphicon-ok
            // //         .modal-footer
            // //           button.btn.btn-danger.btn-default.pull-left(type='submit', data-dismiss='modal')
            // //             span.glyphicon.glyphicon-remove
            // //             |  Cancel
            // //           p
            // //             | Need 
            // //             a(href='#') help?
            
  