doctype html
html(lang='en')
  head
    // Theme Made By www.w3schools.com - No Copyright
    title Bootstrap Theme The Band
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    //link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bootstrap/css/band.bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    
  body#myPage(data-spy='scroll', data-target='.navbar', data-offset='50')
    nav.navbar.navbar-default.navbar-fixed-top
      .container-fluid
        .navbar-header
          a.navbar-brand(href='/') Arts In Town
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#myNavbar')
            span.icon-bar
            span.icon-bar
            span.icon-bar
        #myNavbar.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li
              a(href='/') HOME
            li
              a(href='/events/') FIND EVENTS
            li
              a(href='#forum') POST EVENT/FIND TICKETS
            li
              a(href='/contact/') CONTACT
            li.dropdown
              a.dropdown-toggle(data-toggle='dropdown', href='#')
                | MORE
                span.caret
              ul.dropdown-menu
                li
                  a(href='#') SIGN IN
                li
                  a(href='#') REGISTER
                li
                  a(href='#') FAQ
        
    .container-fluid
      block content
                  
      footer.text-center
        a.up-arrow(href='#myPage', data-toggle='tooltip', title='TO TOP')
          span.glyphicon.glyphicon-chevron-up
          .row
            .col-xs-12
              small &copy; Arts in Town 2017
        
            // //   // Modal
            // //   #myModal.modal.fade(role='dialog')
            // //     .modal-dialog
            // //       // Modal content
            // //       .modal-content
            // //         .modal-header
            // //           button.close(type='button', data-dismiss='modal') ×
            // //           h4
            // //             span.glyphicon.glyphicon-lock
            // //             |  Tickets
            // //         .modal-body
            // //           form(role='form')
            // //             .form-group
            // //               label(for='psw')
            // //                 span.glyphicon.glyphicon-shopping-cart
            // //                 |  Tickets, $23 per person
            // //               input#psw.form-control(type='number', placeholder='How many?')
            // //             .form-group
            // //               label(for='usrname')
            // //                 span.glyphicon.glyphicon-user
            // //                 |  Send To
            // //               input#usrname.form-control(type='text', placeholder='Enter email')
            // //             button.btn.btn-block(type='submit')
            // //               | Pay 
            // //               span.glyphicon.glyphicon-ok
            // //         .modal-footer
            // //           button.btn.btn-danger.btn-default.pull-left(type='submit', data-dismiss='modal')
            // //             span.glyphicon.glyphicon-remove
            // //             |  Cancel
            // //           p
            // //             | Need 
            // //             a(href='#') help?
            
    script.
      $(document).ready(function(){
      // Initialize Tooltip
      $('[data-toggle="tooltip"]').tooltip();
      // Add smooth scrolling to all links in navbar + footer link
      $(".navbar a, footer a[href='#myPage']").on('click', function(event) {
      // Make sure this.hash has a value before overriding default behavior
      if (this.hash !== "") {
      // Prevent default anchor click behavior
      event.preventDefault();
      // Store hash
      var hash = this.hash;
      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
      scrollTop: $(hash).offset().top
      }, 900, function(){
      // Add hash (#) to URL when done scrolling (default click behavior)
      window.location.hash = hash;
      });
      } // End if
      });
      })
